.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 15px;
    margin: 0px 40px 0px;
    max-width: 600px;
}

.container-about .imagem-about{
    width: 75%;
    max-width: 400px;
    height: auto;
}

.container-about h1 {
    padding: 15px 0px;
    font-size: 26px;
}

.container-about p {
    font-family: 'Open Sans', sans-serif;
}

@media(min-width:768px) {
    .container-about h1 {
        font-size: 30px;
    }

    .container-about p {
        font-size: 18px;
    }
}