.slick-dotted.slick-slider {
    width: 100%;
    max-width: 375px;
    margin-top: 20px;
}

.container-carrossel {
    width: 100%;

}

.carrossel img {
    height: 250px;
    width: auto;
} 



@media(min-width:400px) {
    .slick-dotted.slick-slider {
        max-width: 450px;
    }
    
    .carrossel img {
        height: auto;
        max-height: 300px;
    }
}

@media(min-width:768px) {
    .slick-dotted.slick-slider {
        width: auto;
        max-width: 600px;
    }

    .carrossel img {
        max-height: 400px;
        width: auto;
    }
}