.container-products {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    /* flex-direction: column; */
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-products .product {
    padding: 15px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-products .product img {
    width: auto;
    height: 150px;
}

.container-products .product h4 {
    padding: 8px 0px;
}

.container-products .product .buy-button {
    border: none;
    padding: 6px 15px;
    /* background: #161616; */
    background-color: #282828;
    color: #e6e6e6;
    cursor: pointer;
    text-decoration: none;
}

.container-products .product .soldOut-button {
    /* color: #333; */
    color: maroon;
    font-size: 18px;
}

@media(min-width:768px){

    .container-products .product {
        padding: 25px 110px;
    }
}