* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background-color: #f9f9f9;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    box-shadow: #bdbcbc 0px 1px 4px 0px;
    background-color: #fdfdfd;
}

.header-with-page-bar{
    padding: 10px 0px 0px;
}

header .logo {
    width: 145px;
    height: auto;
}

header .slogan {
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: 8px;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 7px 10px;
    font-size: 18px;
}

nav a:hover {
    color: #8b8b8b;
}

.active {
    color: #8b8b8b;
}

.page-bar {
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    box-shadow: #bdbcbc 0px 1px 4px 0px;
}

.page-bar p {
    color: #e6e6e6;
    font-size: 22px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-sociais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px 15px;
}


/* FOOTER */
footer {
    background-color: #e0dede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: #2f2f2f; */
    margin-top: 15px;
    box-shadow: #636363 0px 0px 7px;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    justify-content: flex-start;
    margin: 3px 5px 3px 25px;
}

footer .footer-links a, .footer-links h3 {
    padding: 3px 0px;
    font-size: 18px;
    color: #232323;
    background-color: transparent;
    text-decoration: none;
}

.container-sociais a img {
    height: 45px;
    width: auto;
    padding: 0px 15px;
}

/* CARROSSEL */
.container-carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px) {

    header .logo {
        width: 150px;
    }

    nav a {
        font-size: 20px;
    }
}

@media(min-width:400px) {
    footer {
        flex-direction: row;
    }
}